 @font-face {
   font-family: 'Raleway';
   src:  url('./Raleway-Regular.ttf') format('ttf'),
         url('./Raleway-Bold.ttf') format('ttf');
   font-style: normal;
 }


body {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

h1, h2 {
    margin: 0;
}

.container {
    text-align: center;
}

.hide {
    display: none !important;
}

.cta {
    top: 40%;
    border-radius: 20px;
    border: 30px solid #d60000;
    background: #0039cb;
    font-size: 100px;
    font-weight: bold;
    padding: 0 20px 0 20px;
    transition: 300ms transform;
    cursor: pointer;
}

.player-preview {
    position: relative;
    background: blue;
    width: 300px;
    height: 225px;

    .preview-text {
        position: absolute;
        top: 50%;
        left: 25%;
    }

    .position-preview {
        position: absolute;
        top: 50%;
    }
}

.details {
    width: 100vw;
    height: 100vh;
    background-color: #0039cb;
    background: url(./image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    font-size: 91px;
    font-weight: bold;
    transition: 300ms transform;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3;

    h1, h2 {
        font-size: 91px;
    }

    .close {
        cursor: pointer;
        width: 10%;
        height: 10%;
        position: fixed;
        top: 4px;
        right: 4px;
        background: #d60000;
        text-align: center;
        line-height: 10vh;
        font-size: 8vh;
        border-radius: 5px;
        
        &:before {
            content: 'X';
        }
    }
}

.link {
    text-decoration: underline;
}

.group {
    grid-row: 2;
    color: #0039cb;
}

.cta, .details {
    --pos: 1;
    position: absolute;
}

.thanks {
    width: 100vw;
    height: 100vh;
    background: #0039cb;
    font-size: 80px;
    display: none;
}

.right {
    .cta, .details {
        right: 0;
        left: auto;
        transform-origin: bottom center;
        
        &.slide-in{
            transition-delay: 125ms;
            --pos: 0;
        }
    }
    .cta {
        transform: translate3D(calc(var(--pos) * 50% + 50%), -100%, 0) rotate(-90deg);
    }
   .details {
        transform: translate3D(calc(var(--pos) * 100%), 0, 0);
   }
}

.left {
    .cta,
    .details {
        left: 0;
        right: auto;
        transform-origin: bottom center;
        
        &.slide-in{
            transition-delay: 125ms;
            --pos: 0;
        }
    }
    .cta {
        transform: translate3D(calc(var(--pos) * -50% - 50%), -100%, 0) rotate(90deg);
    }
    .details {
        transform: translate3D(calc(var(--pos) * -100%), 0, 0);
    }
}

.horizontal{
    .cta,
    .details {
        transform-origin: center;
        &.slide-in{
            transition-delay: 125ms;
            --pos: 0;
        }
    }
    .cta {
        left: 25%;
        transform-origin: bottom center;
        transform: scale3d(calc(1 - var(--pos) * 1), calc(1 - var(--pos) * 1), 1);
    }
    .details {
        transform: scale3d(calc(1 - var(--pos) * 1), calc(1 - var(--pos) * 1), 1);
    }
}

.lds-heart {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  transform: rotate(45deg);
  transform-origin: 32px 32px;
}
.lds-heart div {
  top: 23px;
  left: 19px;
  position: absolute;
  width: 26px;
  height: 26px;
  background: #fff;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  background: #fff;
}
.lds-heart div:before {
  left: -17px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -17px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}


.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 60px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

